
[Unit]
Description=Run Python Script on Boot for FTP-HTTPS proxy

[Service]
ExecStart=/usr/bin/python3 /home/vytl/ausm/scripts/ftp_http_server.py
WorkingDirectory=/home/vytl/ausm/scripts
Restart=on-failure

[Install]
WantedBy=multi-user.target
